# Multiple Linear Regression - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size_year.csv'. 

You are expected to create a multiple linear regression (similar to the one in the lecture), using the new data. 

In this exercise, the dependent variable is 'price', while the independent variables are 'size' and 'year'.

Good luck!

## Import the relevant libraries

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from matplotlib import pyplot as plt
import seaborn as sms
sms.set()

## Load the data

In [3]:
pathfile = 'real_estate_price_size_year.csv'

In [4]:
df = pd.read_csv(pathfile)

In [5]:
print(df)

         price     size  year
0   234314.144   643.09  2015
1   228581.528   656.22  2009
2   281626.336   487.29  2018
3   401255.608  1504.75  2015
4   458674.256  1275.46  2009
..         ...      ...   ...
95  252460.400   549.80  2009
96  310522.592  1037.44  2009
97  383635.568  1504.75  2006
98  225145.248   648.29  2015
99  274922.856   705.29  2006

[100 rows x 3 columns]

## Create the regression

### Declare the dependent and the independent variables

In [6]:
y = df['price']
x1 = df[['size','year']]

### Regression

In [9]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

    const     size  year
0     1.0   643.09  2015
1     1.0   656.22  2009
2     1.0   487.29  2018
3     1.0  1504.75  2015
4     1.0  1275.46  2009
..    ...      ...   ...
95    1.0   549.80  2009
96    1.0  1037.44  2009
97    1.0  1504.75  2006
98    1.0   648.29  2015
99    1.0   705.29  2006

[100 rows x 3 columns]